<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Chat Platform - Interview</title>
    <meta name="description" content="#">
    <link rel="stylesheet" href="assets/css/grayshift.min.css">
    <link rel="stylesheet" href="assets/css/swipe.min.css">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="assets/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" integrity="sha384-AKT9MKPmIq4VMihDqOB6HeDHSsXGyf92WHPCSwHAZPIVJpD8Jv6dmfTLZeLDvV4O" crossorigin="anonymous">
</head>
<body>
<div class="d-flex flex-column flex-lg-row">
    <main class="flex-lg-grow-1">
        <div class="chat chat-offcanvas open">
            <div class="d-flex">
                <div class="flex-grow-1">
                    <div class="container px-lg-5" id="chat-window">
                        <div class="chat-body">
                            <div class="py-5">
                                <div class="text-center">
                                    <img src="assets/images/error-404.png" alt="Nothing to see here...">
                                    <h1>Error 404</h1>
                                    <p>Sorry, the page you were looking for does not exists. But don't be sad, <a href="/">this</a> is your way out of here!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/eva-icons@1.1.2/eva.min.js"></script>
<script src="assets/js/offcanvas.min.js"></script>
</body>
</html>
